h3 {
    flex: 1;
    padding: 10px;
    text-align: center;
}
form {
    width: 300px;
    margin: 0 auto;
}
label {
    
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 80%;
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid rgb(255, 0, 115);
    border-radius: 15px;
}
button {
    background-color: rgb(255, 206, 227);
    color: deeppink;
    padding: 12px 20px;
    margin: 20px;
    border: 1px solid rgb(255, 0, 115);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p {
    text-align: center;
}
img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}
@media (max-width: 769px) {
    aside {
        width: 90%;
        margin: 10px auto;
    }
}
footer {
    margin: 0;
    padding: 0;
}